/* assessment button */
.button-assessment {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 1;
  font-size: 1.6rem;
  line-height: 1.3em;
  height: 4.5rem;
  width: 100%;
  max-width: 19.3rem;
  color: rgb(var(--color-button-text));
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 2rem;
  background: rgba(var(--color-button));
  transition: color 0.5s ease;
  overflow: hidden;
}
.button-assessment.secondary-button {
  height: 4.4rem;
  max-width: 24.4rem;
  color: rgba(var(--color-button));
  background: rgba(255, 245, 68, 1);
}
.button-assessment:hover {
  color: rgba(var(--color-button));
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.button-assessment.secondary-button:hover {
  color: rgb(var(--color-button-text));
}
.button-assessment svg.product-arrow-right {
  position: absolute;
  right: 2rem;
}
.button-assessment svg path {
  fill: rgb(var(--color-button-text));
  transition: fill 0.5s ease;
}
.button-assessment:hover svg path {
  fill: rgba(var(--color-button));
}
.button-assessment.secondary-button svg path {
  fill: rgba(var(--color-button));
}
.button-assessment.secondary-button:hover svg path {
  fill: rgb(var(--color-button-text));
}
.button-assessment > span.animation-bg {
  background: rgba(255, 245, 68, 1);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  transition: all 0.5s ease-in-out;
  transform: translateX(-100%);
}
.button-assessment.secondary-button > span.animation-bg {
  background: rgba(var(--color-button));
}
.button-assessment:hover > span.animation-bg,
.button-assessment.secondary-button:hover > span.animation-bg {
  transition: all 0.5s ease-in-out;
  transform: translateX(0%);
}
@media screen and (min-width: 750px) {
  .button-assessment {
    height: 5rem;
    max-width: 22rem;
    gap: 3rem;
  }
}
/* grid layout */
.product-grid__container .grid--1-col > .grid__item {
  max-width: 100%;
  width: 100%;
}
.product-grid__container .grid--2-col > .grid__item {
  width: calc(50% - var(--grid-mobile-horizontal-spacing) / 2);
  max-width: calc(50% - var(--grid-mobile-horizontal-spacing) / 2);
}
.product-grid__container .grid--3-col > .grid__item {
  width: calc(33.33% - var(--grid-mobile-horizontal-spacing) * 2 / 3);
  max-width: calc(33.33% - var(--grid-mobile-horizontal-spacing) * 2 / 3);
}

@media screen and (min-width: 750px) {
  .product-grid__container .grid--2-col > .grid__item {
    width: 50%;
    max-width: 50%;
  }
  .product-grid__container .grid--3-col > .grid__item {
    width: calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
    max-width: calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
  }
}

@media screen and (min-width: 750px) {
  .product-grid__container .grid--4-col-tablet > .grid__item {
    width: calc(25% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
    max-width: calc(25% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
  }

  .product-grid__container .grid--3-col-tablet > .grid__item {
    width: calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
    max-width: calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
  }

  .product-grid__container .grid--2-col-tablet > .grid__item {
    width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
    max-width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
  }
}
@media screen and (min-width: 990px) {
  .product-grid__container .grid--6-col-desktop > .grid__item {
    width: calc(16.66% - var(--grid-desktop-horizontal-spacing) * 5 / 6);
    max-width: calc(16.66% - var(--grid-desktop-horizontal-spacing) * 5 / 6);
  }

  .product-grid__container .grid--5-col-desktop > .grid__item {
    width: calc(20% - var(--grid-desktop-horizontal-spacing) * 4 / 5);
    max-width: calc(20% - var(--grid-desktop-horizontal-spacing) * 4 / 5);
  }

  .product-grid__container .grid--4-col-desktop > .grid__item {
    width: calc(25% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
    max-width: calc(25% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
  }

  .product-grid__container .grid--3-col-desktop > .grid__item {
    width: calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
    max-width: calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
  }

  .product-grid__container .grid--2-col-desktop > .grid__item {
    width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
    max-width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
  }
}
